.new-expense__controls {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	flex-wrap: wrap;
	margin-bottom: 1rem;
}

.new-expense__control label {
	font-weight: bold;
	margin-bottom: 0.5rem;
	display: block;
}

.new-expense__control input {
	text-align: center;
	font: inherit;
	padding: 0.5rem;
	border-radius: 6px;
	border: 1px solid #ccc;
	min-width: 50%;
	max-width: 100%;
}

.new-expense__actions {
	text-align: right;
}